   /* episode block */

   .episode-content__number {
       margin-top: 36px;
   }

   .episode-content__advice {
       margin-top: 12px;
   }

   .episode-content__description {
       margin-top: 24px;
   }
   /* episode block */

   .episode-content__number {
       margin-top: 24px;
   }

   .episode-content__advice {
       margin-top: 8px;
   }

  .episode-content__description {
       margin-top: 16px;
   }
